.subcontainer{
    display: flex;
    flex-direction: column;
padding: 10px;
gap:10px;
}
.heading{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center; 
    align-items: center;  
}